body {
  background-color: black ;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: hsl(240, 32%, 15%) !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.position {
  margin: 100px 0 30px 0;
  text-align: center;
}

.appBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.css-2y464i-MuiInputBase-root-MuiFilledInput-root {
  margin-top: 10px;
}

.center{
  margin-left: 35%;
}

.css-1wnsr1i {
  opacity: .8;
  border-radius: 25% 10%;
}

.css-9nrmgl-MuiPaper-root-MuiCard-root {
  background-color: hsl(240, 32%, 15%) !important;
  color: white !important;
}

.css-r40f8v-MuiTypography-root {
  color: white !important;
}