body {
  background-color: black ;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: hsl(240, 32%, 15%) !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
}

.position {
  margin: 100px auto 30px auto ;
  text-align: center;
}

.appBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.css-1wnsr1i {
  opacity: .8;
  border-radius: 25% 10%;
}

.css-9nrmgl-MuiPaper-root-MuiCard-root {
  background-color: hsl(240, 32%, 15%) !important;
  color: white !important;
}

.css-r40f8v-MuiTypography-root {
  color: white !important;
}

.color {
  color: white;
}

.design {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
}

.design img {
  grid-row: 1/4;
}

.App {
  max-width:  2000px;
  margin: 0 auto;
  position: relative;
}

.pos {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

a:-webkit-any-link {
  color: transparent !important;
  cursor: pointer;
  text-decoration: none !important;
}

.css-r40f8v-MuiTypography-root {
  height: 150px !important;
}